
@font-face {
    font-family: 'Val';
    src: url(./VAL/TTF/VAL-UltraBlack.ttf);

}

#web-header {
    padding: 10vh;
    margin: auto;
    background-color: #8cbcff;
    color: cornsilk;
    font-family: 'Val';
    text-shadow:2px 2px #0095ff;
}

a {
    font-family: 'Helvetica';
}

h4 {
    font-family: 'Helvetica';
    text-transform: lowercase;
}

#side-bar {
    background-color: #ebf5ff6b;
    height: 100%;
}

